.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    
}

.grid div {
    background: #ecf0f1;
    padding: 1em;
}

.grid div:hover {
    border: 1px solid #f1c40f;
}